/Python_basic_House_work_1_Bidenko.ipynb
/Python_basic_House_work_2_Bidenko.ipynb
/__pycache__
/Библиотека Numpy.pdf
/Введение_в_Pandas.pdf
/Pandas_info.pdf
/Базовые_приёмы_работы_с_данными_в_Pandas.pdf
/Продвинутые_методы_работы_с_данными_в_Pandas.pdf
/Визуализация_данных.pdf
/объединение_таблиц.png
/схема_визуализации_признаков.png
/data
/plotly
/ontology
/Owlready.ipynb